*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	background-color: #fff;
	color: #555;
	font-family: 'Lato','Arial', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	height: 100%;

}


header{
	height: 100vh;
}

h3{
	padding-left: 40%;
}


.sticky{
	height: 10vh;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	background-color: rgba(250,250,250,0.98);
	box-shadow: 0 2px 2px #efefef;
	z-index:9999;/*vertical stack top of all other elements*/
}
.sticky .logo{
	width: auto;
	height: 50px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}


.sticky .main-nav{
	margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
	padding: 16px 0px;
	color: #555;

}
.main-nav li{
	display: inline-block;
	margin-left: 40px;
	float: right;
	padding-right:10px;
}

/*.main-nav li a:link,
.main-nav li a:visited{
	padding: 8px 0px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%; 
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
	border-bottom: 2px solid #e67e22;
}

.main-nav li a:link,
.main-nav li a:visited{
	padding: 16px 0px;
	color: #555;

}*/



/*=====================MAIN_LOGIN_AND_SIGNUP_BOX==============================================*/
.product-box{
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 0;
	width: 100%;
	background-color: #f4f4f4;
	/*background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/hero.jpg);*/
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;

}


.cols{
	padding-left: 5%;
	padding-top: 5%;
	float: right;
}



.contact-form input[type=submit]{
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;              
	border-radius: 200px;
	transition: background-color 0.2s,border 0.2s,color 0.2s;	
}

.contact-form input[type=submit]{
	background-color: #e67e22;
	border: 1px solid;
	color: #fff;
	margin-right: 15px;

}

.contact-form input[type=submit]:hover,
.contact-form input[type=submit]:active{
	background-color: #cf6d17;

}

.contact-form input[type=submit]{
	border: 1px solid #cf6d17;
}
label{
	padding-right: 50%;
}

 .contact-form{
 	width:100%;
 	margin: 0 auto;
 	margin-right: 5%;
 	float: left;
 }
 input[type=text],
 input[type=number],
 .contact-form input[type=password],
 .contact-form input[type=email],
 select{
 	float: right;
 	width: 90%;
 	padding: 10px;
 	border-radius: 3px;
 	border: 1px solid #ccc;
 }
 
 *:focus{
 	outline: none;
 }
input[type=submit]{
	display: inline-block;
	padding: 8px 20px;
	font-weight: 300;
	text-decoration: none;              
	border-radius: 200px;
	transition: background-color 0.2s,border 0.2s,color 0.2s;	
}

input[type=submit]{
	background-color: #e67e22;
	border: 1px solid;
	color: #fff;
	margin-right: 15px;

}

input[type=submit]:hover,
input[type=submit]:active{
	background-color: #cf6d17;

}

input[type=submit]{
	border: 1px solid #cf6d17;
}

